<li class="col-md-4">
    <div class="product_img">
      <img width="380" height="380" src="/assets/device-placeholder.png" alt="smartphone">
    </div>
    <div class="product_info">
      <p class="placeholder-product-info"></p>
      <p class="placeholder-product-info"></p>
    </div>
  </li>
  <li class="col-md-4">
    <div class="product_img">
      <img width="380" height="380" src="/assets/device-placeholder.png" alt="smartphone">
    </div>
    <div class="product_info">
      <p class="placeholder-product-info"></p>
      <p class="placeholder-product-info"></p>
    </div>
  </li>
  <li class="col-md-4">
    <div class="product_img">
      <img width="380" height="380" src="/assets/device-placeholder.png" alt="smartphone">
    </div>
    <div class="product_info">
    <p class="placeholder-product-info"></p>
    <p class="placeholder-product-info"></p>
  </div>
</li>
