<nav class="navbar">
  <div class="brand_colors"></div>
  <div class="container">
    <div class="navbar-header">
      <img class="brand-logo" alt="Yoigo logo" width="120px" height="40" src="http://www.yoigofibra.net/common/themes/default/img/footer-yoigo.png">
    </div>
  </div>
</nav>

<div class="container">
  <section class="products_container">
    <ul class="row product_list">
      <li *ngFor="let device of devices" class="col-md-4">
        <div class="product_img">
          <img *ngIf="device.image" width="280" height="380" src="{{device.image}}" alt="smartphone">
        </div>
        <div class="product_info">
          <p class="title">{{device.name}} {{device.color}}</p>
          <p class="subtitle">{{device.description}}</p>
          <p class="price">{{device.price | priceFormat }}</p>
          <div class="btn-actions">
            <a role="button" class="btn btn-default add_to_cart" (click)="addToCart($event, device)">Add to Cart</a>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <hr>

  <footer>
    <p>&copy; 2017 Company, Inc.</p>
  </footer>

</div> <!-- /container -->
